form {
    width: 30%;
    height: 50vh;
    padding-top: 4;
    border-radius: 60px;
}

.create-form {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/img/background-img.jpg");
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.create-form-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error {
    color: red;
    font-size: 12px;
    margin-bottom: 5px;
}

.msg {
    position: relative;
    bottom: 25rem;
    left: 66rem;
}
