.owner-container {
    display: flex;
    justify-content: space-around;
    width: 67%;
}

.delete-button:hover {
    color: #c9491a;
}

.description {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    overflow-wrap: break-word;
    word-wrap: break-word;
    overflow: hidden;
}

@media (max-width: 768px) {
    .owner-container {
        width: 100%;
    }
}
