form {
    width: 30%;
    height: 50vh;
    padding-top: 4;
    border-radius: 60px;
}

.edit-form {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/img/background-img.jpg");
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.edit-form-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error {
    color: red;
    font-size: 12px;
    margin-bottom: 5px;
}

.msg {
    position: absolute;
    top: 0;
    z-index: 3;
}

textarea {
    height: 8rem;
}

@media (max-width: 768px) {
    .form-resp {
        width: -webkit-fill-available;
    }

    .error {
        font-size: 16px;
    }

    .msg {
        text-align: center;
        font-size: 11px;
    }
}
